<footer class="bg-tertiary my-auto font-bold uppercase font-spaceMono p-12 2xl:px-0  2xl:flex 2xl:py-[84px] flex-row justify-between">
        <nav class="basis-[300px] mb-[38px] 2xl:mb-0 order-2">
            <ul class="flex flex-col gap-[9px]">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </nav>
        <nav class="basis-[300px] mb-[38px] 2xl:mb-0 order-3">
            <ul class="flex flex-col gap-[9px]">
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
                <li><a href="#">Cookie Settings</a></li>
            </ul>
        </nav>
        <div class="mb-[51px] basis-[300px] 2xl:mb-0 order-4">
            <nav class="mb-[9px]">
                <ul class="flex flex-col gap-[9px]">
                    <li><a href="#">About VooDoo</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
            </nav>
            <ul class="flex flex-col gap-[9px]">
                <li>Facebook</li>
                <li>Instagram</li>
            </ul>
        </div>
    <div class="2xl:px-[110px] self-center order-first">
        <a class="min-w-min" href="#">
            <svg class="2xl:w-[82px] 2xl:h-[82px] mx-auto" width="80" height="80">
                <use href="../images/sprite.svg#icon-logomark"></use>
            </svg>
        </a>
    </div>
   
</footer>