<header class="flex justify-between items-center p-6 border-b border-primary 2xl:items-start 2xl:py-12 2xl:pr-[120px] 2xl:pl-[62px]">
    <div class="flex gap-1 2xl:gap-3">
        <svg class="2xl:w-12 2xl:h-12" width="23" height="23">
            <use href="../images/sprite.svg#icon-logomark"></use>
        </svg>
        <svg class="2xl:w-[193px] 2xl:h-[98px]" width="108" height="50">
            <use href="../images/sprite.svg#icon-logotype"></use>
        </svg>
    </div>
    <div class="flex items-center gap-3 2xl:gap-12">
        <button>
            <svg width="24" height="24">
                <use href="../images/sprite.svg#icon-cart"></use>
            </svg>
        </button>
        <button class="font-bold p-3 bg-primary text-secondary rounded">Sign up</button>
    </div>
</header>